.faq {
    padding: 20px;
    
    
    h1 {
        margin: 0 0 10px 0;
    }

    h3, p, ul {
        margin: 20px;
    }
    
    h3 {
        font-size: 25px;
    }
    p, li {
        font-size: 20px;
    }

}