@import "../../style-variables.scss";

.hidden-chatbot {
    z-index: 10000;
    position: fixed;
    right: 50px;
    bottom: 30px;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
    overflow: hidden;
    
    .logo-hider {
        vertical-align: bottom;
        transition: .5s
    }

    .logo-hider:hover {
        transform: scale(1.1);
        transition: .5s
    }
}

.chatbot {
    z-index: 10000;
    position: fixed;
    right: 50px;
    bottom: 30px;
    height: 650px;
    width: 500px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    background-color: white;
    -webkit-animation: growbot .7s ease;
    animation: growbot .7s ease;

    &.disappear {
      opacity: 0;
      height: 0%;
      width:0%;
      transition: .7s;
    }

    .messages-container{
        -webkit-animation: fade-message .7s ease;
        animation: fade-message .7s ease;
        height: 470px;
        width: 500px;
        overflow: auto;

        &.disappear {
          opacity: 0;
          height: 0%;
          width:0%;
          transition: .7s;
        }

    }

    .main-title {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding: 5px;
        color: #ACA4A4 !important;
        font-size: 20px;

        .logowrapper {
            border-radius: 100px;
            height: 100px;
            width: 100px;
            box-shadow: 3px 3px 5px black;
            overflow: hidden;
    
            img {
                vertical-align: bottom
            }
            p {
              color: #ACA4A4 !important;
            }
        }

        .text {
          display: flex;
          margin: 10px 0px 10px 10px;
        }

        .close-button, .injection-button {
            cursor: pointer;
            line-height: 0;
            display: flex;
            margin: 0px 20px 0 0;
            color: #ACA4A4 !important;

            p {
              color: #ACA4A4 !important;
            }

            &:hover {
                color: black !important;
                transition: .5s;
            }
        }
    }
    
    form{
        position: absolute;
        bottom: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        border-top: 1px solid #ACA4A4;
    }

    .user-input {
        width:90%;
        height:40px;
        font-size: 20px;
        border: none;
        padding: 5px;
        background-color: #ebf1f1;
    }

    .submit{
        width: 10%;
        height: 50px;
        background: $submit-button-color !important;
        border: none;
        border-radius: 0 0 10px;
        color: $submit-icon-color !important;
        cursor: pointer;
    }
}

@keyframes growbot {
    0%   { height: 10%; width: 10%; opacity: 0;}
    100% { height: 650px; width: 500px; opacity: 1;}
}

@keyframes fade-message {
  0%   { height: 0%; width: 0%; opacity: .1;}
  100% { height: 470px; width: 500px; opacity: 1; }
}


@media only screen and (max-width: 600px) {
    .chatbot {
        height:85%;
        width: 95%;
        right: 10px;

        .messages-container{
            width: 100%;
            height: 65%;
        }

        .text {
          display: flex;
          justify-content: space-around;
          margin: 10px 0px !important;
        }

        .close-button, .injection-button {
            cursor: pointer;
            line-height: 0;
            display: flex;
            font-size: 15px;
            margin: 0 10px !important;
        }
    }

    .hidden-chatbot {
        right: 10px;
    }

    @keyframes growbot {
        0%   { height: 10%; width: 10%;}
        100% { height: 85%; width: 95%; }
    }

    @keyframes fade-message {
      0%   { height: 0%; width: 0%; opacity: .1;}
      100% { height: 65%; width: 100%; opacity: 1; }
    }

  }