$header-color: linear-gradient(180deg, rgba(208, 37, 37, 0.8) 0%, rgba(202, 29, 29, 0.8) 100%);
$submit-button-color: rgba(208, 37, 37, .8);
$submit-icon-color: white;
$chatbot-message-container-color: linear-gradient(180deg, rgba(208, 37, 37, 0.8) 0%, rgba(202, 29, 29, 0.8) 100%);
$user-message-container-color: #ebf1f1;
$typing-dot-color: white;
$typing-dot-background-color: rgba(208, 37, 37, .8);