.quick-reply {

    button, .react-link {
        font-size: 25px;
        padding: 10px;
        margin: 5px;
        background: linear-gradient(180deg, rgba(208, 37, 37, 0.8) 0%, rgba(202, 29, 29, 0.8) 100%);
        color: antiquewhite;
        border: none;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
    }
}